.dedit-simple, .dedit-textarea, .dedit-remote, .dedit-remote-json, .edit-cell-inline {
	cursor:pointer;
	background:#EFE32D;
}

.dedit-simple:hover, .dedit-textarea:hover, .dedit-remote:hover, .dedit-remote-json:hover, .edit-cell-inline:hover {
	background:#EFE32D url(edit.png) no-repeat center right;
	padding-right:20px;
}

form {
	display:inline;
}

table td {
	padding:2px;
	width: 350px;
	text-align: center;
}
